.nav-right {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
}

.breadcrumb {
  font-size: 16px;
  color: #555;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px 10px;
  padding-left: 30px; /* Space for the search icon */
  border: none;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 14px;
  width: 135px;
  background-color: #1c1c1c0d;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.search-bar::placeholder {
  color: #aaa;
}
